body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px;
}

button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #36648b;
}